@model TermsNew.Models.Terms2

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Terms2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MOT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Headword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Full_form)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_form)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abbreviations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abbreviations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synonyms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synonyms)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
